.App {
  background-image: url('https://img.freepik.com/vector-gratis/panorama-naranja-coral-degradado-abstracto-fondo-naturaleza-vectorial-horizontal-al-atardecer_105738-1783.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */
}